<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" slides-per-view="11"
space-between="30" free-mode="true" >
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/bike-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Cycling</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/camping-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Camping</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/running-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Running</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/bike-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Cycling</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/camping-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Camping</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/running-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Running</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/bike-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Cycling</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/camping-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Camping</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/running-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Running</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/bike-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Cycling</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/camping-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Camping</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/running-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Running</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/bike-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Cycling</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/camping-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Camping</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="category-card border rounded p-3 shadow">
            <img src="assets/categories/running-ctgry.png" alt="Soccer" class="rounded" width="100" height="100">
            <p class="h5 text-center m-0 mt-3">Running</p>
        </div>
    </swiper-slide>
</swiper-container>