<mat-tab-group mat-align-tabs="start" class="h-100" >
  <mat-tab label="My Account">
    <div class="mt-3 p-3 rounded-2 shadow bg-white h-100">
      <togetherapp-my-account></togetherapp-my-account>
    </div>
  </mat-tab>
  <mat-tab label="My Events">
    <div class="mt-3 p-3 rounded-2 shadow bg-white h-100">
      <togetherapp-my-events-home></togetherapp-my-events-home>
    </div>
  </mat-tab>
  <mat-tab label="My Sports">
    <togetherapp-my-sports></togetherapp-my-sports>
  </mat-tab>
  <mat-tab label="My Equipments"></mat-tab>
</mat-tab-group>