<mat-card class="mat-card rounded-2" style="width: 330px; height: 330px;">
  <mat-card-content>
    <div class="card-content">
      <img src="assets/images/yoga.jpg" alt="Event Image" class="event-image">
      <div class="date-container">
        <div class="date-box">25 June</div>
      </div>
      <div class="details-container">
        <div class="event-title">
          <p>Angular Yogis</p>
        </div>
        <div class="event-participants">
          <div class="participant-info">
          <img src="assets/icons/user1.jpg" alt="Participant 1" class="participant-icon">
          <img src="assets/icons/user2.jpg" alt="Participant 2" class="participant-icon">
          <img src="assets/icons/user4.jpg" alt="Participant 3" class="participant-icon">
        </div>
          <p>+15 participants</p> 
        </div>
        <div class="event-location">
          <mat-icon>location_on</mat-icon> <p>Kepez / Antalya</p>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
