<mat-card class="rounded-4 shadow">
    <mat-card-header>
        <mat-card-title-group class="bordered shadow rounded-3" style="position: relative;">
            <img class="rounded-3" style="object-fit: cover;" width="270" height="145" src="assets/images/yoga.jpg">
            <div class="p-2" style="position: absolute; z-index: 999; width: 20px; height: 20px;">
                <mat-icon class="rounded-1" style="background-color: #fff; color: #696969;">add</mat-icon>
            </div>
        </mat-card-title-group>        
    </mat-card-header>
    <mat-card-content class="d-flex flex-column gap-2 mt-3">
        <div class="d-flex flex-row align-items-center gap-2">
            <p class="fs-5 fw-medium m-0">Hatha Yoga Studio - LH</p>
        </div>
        <div class="d-flex flex-row align-items-center gap-2">
            <mat-icon>date_range</mat-icon>
            <p class="fs-6 fw-light m-0">25/07/1997</p>
        </div>
        <div class="d-flex flex-row align-items-center gap-2">
            <mat-icon>location_on</mat-icon>
            <p class="fs-6 fw-light m-0">Beachpark / Antalya</p>
        </div>
    </mat-card-content>
</mat-card>