*.suo
*.cache
*.pdb

bin/
obj/
.vs/

appsettings.Development.json

/Together.DataAccess/Migrations/

.idea/
.rider/
.vscode/

file_to_exclude.txt

project.assets.json
project.nuget.cache
project.packagespec.json

rider.project.model.nuget.info
rider.project.restore.info
