.insta-banner-card{
    background: linear-gradient(135deg, rgba(131, 58, 180, 0.8), rgba(253, 29, 29, 0.8), rgba(252, 175, 69, 0.8));
    color: white;
}

.sport-banner-card{
    background: linear-gradient(135deg, rgba(83, 74, 180, 0.8), rgba(63, 128, 197, 0.8), rgba(140, 164, 234, 0.8));
    color: white;
}