<p mat-dialog-title class="fw-normal mb-1">Add new equipment</p>
<mat-divider></mat-divider>
<mat-dialog-content class="d-flex flex-column m-2 mt-0 mb-0 pb-0">
  <div class="d-flex flex-column align-items-center">
    <p class="fw-normal">Equipment Photo</p>
    <img src="https://img.freepik.com/premium-vector/young-smiling-man-avatar-man-with-brown-beard-mustache-hair-wearing-yellow-sweater-sweatshirt-3d-vector-people-character-illustration-cartoon-minimal-style_365941-860.jpg?size=338&ext=jpg&ga=GA1.1.735520172.1710460800&semt=sph"
           width="100" height="100">
    <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;">
    <button mat-icon-button (click)="fileInput.click()">
        <mat-icon>cloud_upload</mat-icon>
    </button>
  </div>
  <div style="margin-bottom: 10px;"></div>

  <p class="fw-normal">Equipment Name</p>
  <mat-form-field appearance="outline">
      <mat-label>Input</mat-label>
      <input matInput>
  </mat-form-field>
  <div>
    <div style="margin-bottom: 10px;"></div>

    <p class="fw-normal">Sport Type</p>
    <mat-form-field appearance="outline">
      <mat-select placeholder="">
        <mat-option value="option1">Camping</mat-option>
        <mat-option value="option2">Yoga</mat-option>
        <mat-option value="option3">Trekking</mat-option>
        <mat-option value="option4">Beach Volleyball</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancelDialog()">Cancel</button>
  <button mat-raised-button color="primary" (click)="addEquipment()">Save</button>
</mat-dialog-actions>